*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
app/build/
app/release/
app/debug/
.kotlin/
*.keystore
*.jks
.cxx/
captures/
output.json
